__pycache__/
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
.coverage
.coverage.*
.cache/
.pytest_cache/
.ruff_cache/
coverage.xml
*.cover
.venv/
.vscode/
config.json

**/data/
*.db
*.sqlite


./personal-todos.md